# Common
node_modules
.git
.env
*.db
logs

# Mobile App files (Ignore these to speed up server deployment)
android/
ios/
app/
assets/
components/
hooks/
constants/
utils/
node_modules/
.expo/
build/

# Docker specific
Dockerfile
.dockerignore
!server/Dockerfile
!server/.dockerignore
